body {
    background-color: rgba(188, 255, 255, 0.819);
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;    
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    flex-grow: 1;
  }
  
  nav a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  nav a i {
    font-size: 20px;
  }
  
  nav a.active {
    color: blue;
  }