  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image {
    width: 30%;
    margin-bottom: 20px;
  }

  .image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .px{
    font-size: 16px;
  }

  .icon-with-text {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    align-items: center;
  }
  
  .icon-with-text i {
    color: white;
    font-size: 24px;
    margin-right: 2px;
  }
  
  .icon-with-text span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 2px;
  }