body {
    background-color: rgba(188, 255, 255, 0.819);
    margin-bottom: 50px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    }
  .container img {
    position: relative;
    width: 100%;
  }
  .container .nickname{
    background-color: white;
  }
  .container .comment{
    background-color: white;
  }
  .container .comment{
    background-color: white;
  }
    .image {
      width: 30%;
      margin-bottom: 20px;
    }
  
    .image img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  
    .px{
      font-size: 16px;
    }
  
    .icon-with-text {
      position: fixed;
      display: flex;
      flex-direction: column;
      right: 20px;
      bottom: 60px;
      width: 60px;
      height: 60px;
      background-color: orange;
      border-radius: 50%;
      text-align: center;
      align-items: center;
    }
    
    .icon-with-text i {
      color: white;
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    
    .icon-with-text span {
      font-size: 12px;
      font-weight: bold;
      color: white;
    }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;    
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    flex-grow: 1;
  }
  
  nav a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  nav a i {
    font-size: 20px;
  }
  
  nav a.active {
    color: blue;
  }
 /* カレンダーのスタイルを定義 */
 .calendar {
  width: 300px;
  font-family: Arial, sans-serif;
}
.calendar table {
  width: 100%;
  border-collapse: collapse;
}
.calendar th,
.calendar td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}
.calendar th {
  background-color: #f0f0f0;
}
.calendar td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.event-input {
  display: none;
  margin-top: 5px;
}
.event-input input[type="text"],
.event-input button {
  margin-top: 5px;
}

.eventcontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}
.event {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.event h2 {
  margin-top: 0;
}
.event p {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #eee;
}
img {
  max-width: 100%;
  height: auto;
}