  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image {
    width: 30%;
    margin-bottom: 20px;
  }

  .image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .px{
    font-size: 16px;
  }

  .icon {
    position: fixed;  /* ページスクロールに追従するように位置を固定 */
    bottom: 20px;  /* 下からの距離を設定 */
    right: 20px;  /* 右からの距離を設定 */
    z-index: 999;  /* 他の要素よりも手前に表示する */
  }
  
  .icon i {
    font-size: 30px;  /* アイコンのサイズを設定 */
    color: black;  /* アイコンの色を設定 */
    background-color: white;  /* アイコンの背景色を設定 */
    border-radius: 50%;  /* アイコンを丸くする */
    padding: 10px;  /* アイコンの内側の余白を設定 */
  }